body{
  margin:0px;
  padding:0px;
}
 
.img-grid {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
}

.img-grid > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color:black;
}